<li>
  <div>
    <%= simple_format message.body %>

    <small class="text-muted">
      <%= time_ago_in_words(message.updated_at) %> ago
    </small>
  </div>

  <%= render "messages/reply_form", message: Message.new(parent: message) %>

  <ul>
    <%= render message.children %>
  </ul>
</li>
